body {
  background-color: rgb(79, 100, 89);
  text-align: center;
  font-family: sans-serif;
  font-size: 3rem;
  color: rgb(53, 46, 13);
}

button {
  font-family: "CRAMPS", sans-serif;
  src: url("http://fonts.cdnfonts.com/css/cramps-2");
  font-size: 3rem;
  padding: 5rem;
}
